/*
** HTML elements
*/
body {
  background-color: #FFFFFF;
  font-size: 10pt;
  font-family: tahoma,helvetica,arial,sans-serif;
}

p,ul,li,div,form,em,blockquote,quote {
  font-size: 10pt;
  font-family: tahoma,helvetica,arial,sans-serif;
  font-weight: normal;
}

td {
  font-family: tahoma,helvetica,arial,sans-serif;
  font-size: 10pt;
  font-weight: normal;
}

td.left {
  font-family: tahoma,helvetica,arial,sans-serif;
  font-size: 10pt;
  text-align: left;
}

/**********************  HEADER ************************/

td.oru {
  background: url(images/or-u.png);
  width: 100%;
}

td.ord {
  background: url(images/or-d.png);
  width: 100%;
}

td.orl {
  background: url(images/or-l.png);
}

td.orr {
  background: url(images/or-r.png);
}

td.orcnt {
  background: #FBC636;
  width: 100%;
  font-family: tahoma,helvetica,arial,sans-serif;
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
}

/*  ????? */

td.gru {
  background: url(images/gr-u.png);
  width: 100%;
}

td.grd {
  background: url(images/gr-d.png);
  width: 100%;
}

td.grl {
  background: url(images/gr-l.png);
}

td.grr {
  background: url(images/gr-r.png);
}

td.grcnt {
  background: #C6C6C6;
  width: 100%;
  font-family: tahoma,helvetica,arial,sans-serif;
  font-size: 10pt;
}

/**********************  BODY ************************/

td.lgu {
  background: url(images/lg-u.png);
  width: 100%;
}

td.lgd {
  background: url(images/lg-d.png);
  width: 100%;
}

td.lgl {
  background: url(images/lg-l.png);
}

td.lgr {
  background: url(images/lg-r.png);
}

td.lgcnt {
  background: #E4E4E4;
  width: 100%;
  font-family: tahoma,helvetica,arial,sans-serif;
  font-size: 10pt;
  white-space: normal;
}

td.lgcntnw {
  background: #E4E4E4;
  width: 100%;
  font-family: tahoma,helvetica,arial,sans-serif;
  font-size: 10pt;
  white-space: nowrap;
}

/******************************/

small {
  font-size: 8pt;
}

big {
  font-size: 12pt;
}

hr {
  color: #404040;
  height: 1px;
  clear: right;
}

a {
  color: #804000;
  text-decoration: none;
}

a:link, a:visited, a:active {
  color: #804000;
}

b {
  font-weight: bold;
}

table.goofy {
  border-collapse: separate;
}

.node .picture {
  border: 2px solid #ddd;
  float: right;
  margin: 0.5em;
}

.comment .picture {
  border: 1px solid #770;
  float: right;
  margin: 0;
}

a.read-more, a.read-more:link, a.read-more:visited, a.read-more:active {
  color: #f00;
  font-weight: bold;
}

tr.dark {
  background-color: #e0e0e0;
}
tr.light {
  background-color: #eee;
}
td.active {
  background-color: #d4d4d4;
}

/* Fix watchdog values we just overrode... this should be updated when drupal.css is updated */
tr.watchdog-user {
  background: #ffd;
}
tr.watchdog-user .active {
  background: #eed;
}
tr.watchdog-content {
  background: #ddf;
}
tr.watchdog-content .active {
  background: #cce;
}
tr.watchdog-page-not-found, tr.watchdog-access-denied {
  background: #dfd;
}
tr.watchdog-page-not-found .active, tr.watchdog-access-denied .active {
  background: #cec;
}
tr.watchdog-error {
  background: #ffc9c9;
}
tr.watchdog-error .active {
  background: #eeb9b9;
}
